<div class = "login-container">
  <div class = "form">
    <h2>ログイン</h2>
    <p class="alert"><%= alert %></p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "input " %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password"  , class: "input " %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" , class: "btn"%>
      </div>
    <% end %>
    <a href = "/users/sign_up">新規登録はこちら</a>
  </div>
</div>