<div class = "update-content user-links">
    <a class = "active-link" href = "/users/<%= @user.id %>/profile">プロフィール</a>
    <a class = "another-link" href = "/users/<%= @user.id %>/account">アカウント</a>
</div>
<div class = "profile-form">
  <div class = "update-content">
    <h2>プロフィール</h2>
    
  </div>
  <%= form_tag("/users/#{@user.id}/add", {multipart: true}) do %>

    <div class = "update-content">
      <p>アイコン画像<p>
      <input name = "image" type = "file">
    </div>

    <div class = "update-content">
      <p>ユーザー名</p>
      <input class = "update-input" name = "name" value = <%= @user.name %>>
    </div>

    <div class = "update-content">
      <p>自己紹介</p>
      <textarea name = "memo"><%= @user.memo %></textarea>
    </div>

    <input  type = "submit" value = "更新" class = "update-btn">
  <% end %>


</div>