<div class = room-container>
    <h2>登録済みルーム一覧</h2>
    
    <table >
       <thead>
       <tr>
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>料金</th>
            <th>作成日</th>
        </tr>
       <thead>
       <% @rooms.each do |room| %>
        <tbody>
            <tr>
                <td><%= image_tag room.image.to_s ,size: "240x140"%></td>
                <td><a href = <%= "/rooms/#{room.id}/edit"%>><%= room.name %></a></td>
                <td><%= room.memo%></td>
                <td>¥<%= room.fee %></td>
                <td><%= room.created_at.to_s(:datetime_jp) %></td>
            </tr>
        </tbody>
        <%end%>
    </table>
</div>