<!DOCTYPE html>
<html>
  <head>
    <title>Reserve</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = header-container>
        <div class = header-left>
          <a href = "/">
            <img class="logo" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png">
          </a>
        </div>
        <ul class = header-right>
          <% if current_user %>
            <li>
              <%= link_to "設定" , "/users/#{current_user.id}/profile" %>
            </li>
            <li class = "email">
              <%= current_user.name%>
            </li>
            <li>
              <% if current_user.image.nil? %>
                <img class = "icon-image" alt = "デフォルトアイコン" src = "https://presite-potepancamp-rails-02.herokuapp.com/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg">
              <% else %>
                <img class = "icon-image" alt = "アイコン" src = "<%= "/user_images/#{current_user.image}" %>">
               <% end %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_path,method: :delete %>
            </li>
            <% else %>
              <li>
                <a href = "/users/sign_up" class = "signup-link">新規登録</a>
              </li>
              <li>
                <a href = "/users/sign_in" class = "login-link">ログイン</a>
              </li>
              
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class = footer-container>
        <div class = footer-right>
          <a href = "/">
            <img class="logo" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt = "ロゴ画像">
          </a>
        </div>
        <div class = footer-left>
        </div>
    </footer>
  </body>
</html>
